{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h1>Porównywarka cen</h1>
            <p>Porównaj ceny elektroniki!</p>
        </header>
        <p>Miejsce, w którym porównasz elektronikę pomiędzy różnymi sklepami internetowymi</p>
        <ul class="actions">
            <li><a href="{% url 'show-cpu' %}" class="button big">Pokaż wszystkie produkty</a></li>
        </ul>
    </div>
    <span class="image object">
        <img src="{% static 'images/asus-graphics-card.jpg' %}" alt="asus graphics card" />
    </span>
</section>

{% for key, value in charts.items %}
<h2>Średnia cen na rynku {{ key }}</h2>
{{ value|safe }}
{% endfor %}

{% endblock %}
