{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="controls">
    <a href="{{ request.META.HTTP_REFERER|escape }}" class="button big">wróć</a>
    {% if request.user.is_authenticated %}
    <a href="{% url 'observe' product.pk %}" class="button float-right">obserwuj</a>
    {% endif %}
</div>

<section>

    <header class="major">
        <h2>{{ product.name }}</h2>
        <h3>{{ product.code }}</h3>
    </header>

{% for offer in offers %}
<div class="offer">
    <header class="major">
        <h3>{{ offer.shop|title }}</h4>
    </header>

    <span class="image object">
        <img src="{{ offer.image }}" alt="photo of a gpu" />
    </span>

    <span class="image object">
        <img src='data:image/png;base64,{% cycle charts.0 charts.1 %}'>
    </span>

    <ul>
    {% for price in prices %}

        {% if price.product_offer.id == offer.id %}
        <li>{{ price.price }} - {{ price.date }}</li>
        {% endif %}

    {% endfor %}
    </ul>
    <a href="{{ offer.link }}" class="button big" target="_blank" rel="noopener">Przejdź do oferty</a>
</div>    
{% endfor %}

</section>


{% endblock %}
