{% extends 'base.html' %}
{% block content %}
{% load static %}

<section>

    <header class="major">
        <h2>{{ product.name }}</h2>
        <h3>{{ product.code }}</h3>
    </header>

{% for offer in offers %}
    <span class="image object">
        <img src="{{ offer.image }}" alt="photo of a gpu" />
    </span>
{% endfor %}

{% for offer in offers %}

    <h4>{{ offer.shop }}</h4>

    <ul>
    {% for price in prices %}

        {% if price.product_offer.id == offer.id %}
        <li>{{ price.price }} - {{ price.date }}</li>
        {% endif %}

    {% endfor %}
    </ul>
    <a href="{{ offer.link }}" class="button big" target="_blank" rel="noopener">Przejdź do oferty</a>

{% endfor %}

</section>


{% endblock %}
